<!doctype html>
<html lang="en">
  <head>
    <title>Collegi8 Service</title>
   

    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>

   
    <div class="container-fluid no-side-padding global-background-set">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == 'error' ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
